body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 420px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h1 {
  margin: 0;
  font-size: 1.8em;
}

.tagline {
  margin-bottom: 10px;
  color: #aaa;
}

.icons {
  margin: 15px 0 25px;
}

.icons a {
  margin: 0 8px;
  display: inline-block;
}

.icons img {
  width: 28px;
  height: 28px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2864d4;
  color: white;
  padding: 8px 12px;
  margin: 10px auto;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  max-width: 100%;
  width: 100%;
  transition: background 0.3s;
}

.link:hover {
  background-color: #2596be;
}

.link img {
  height: 34px;
  margin-right: 6px;
  border-radius: 6px;
}

.link span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section-title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #ccc;
  text-transform: uppercase;
  font-size: 1.2em;
}

.email {
  margin-top: 30px;
  font-size: 0.9em;
  color: #ccc;
}

.email a {
  color: #4ea1ff;
  text-decoration: none;
}

.email a:hover {
  text-decoration: underline;
}